body {
    margin: 0;
    overflow: hidden;
    background-image: url('TARDEO DE JOHN 8 DE OCTUBRE.jpg'); /* Cambia a la URL de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#countdown-container {
    text-align: center;
    width: 300px;  /* Ajusta a la anchura deseada */
    height: 200px; /* Ajusta a la altura deseada */
    color: white;
    font-size: 100px; /* Ajusta el tamaño de la fuente */
}

#countdown div {
    display: inline-block;
    padding: 200px;
    background-color: rgba(0,0,0,0.5);
    margin: 100px;
    border-radius: 100px;
}
