body {
    margin: 0;
    overflow: hidden;
    background-image: url('TARDEO DE JOHN 8 DE OCTUBRE.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#countdown {
    text-align: center;
    color: white;
    font-size: 28px; /* Disminuye el tamaño de la fuente */
    padding: 15px; /* Disminuye el padding del contenedor */
    width: 60%; /* Disminuye el ancho del contenedor a un 60% del contenedor padre */
    max-width: 400px; /* Disminuye el ancho máximo para el contenedor */
}

#countdown div {
    display: inline-block;
    padding: 15px; /* Disminuye el padding de cada elemento */
    background-color: rgba(0,0,0,0.5);
    margin: 8px; /* Disminuye el margen entre los elementos */
    border-radius: 8px; /* Disminuye el borde redondeado de los cuadros */
}

