body {
    margin: 0;
    overflow: hidden;
    background-image: url('fondo.jpg'); /* Cambia a la URL de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#countdown-container {
    text-align: center;
    color: white;
}

#countdown div {
    display: inline-block;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    margin: 5px;
    border-radius: 5px;
}
